<%- include header.ejs %>
<div class="jumbotron">
  <h1 class="display-3">Find your world!</h1>
  <p>Eventually you will find yourself in the process. Walk your path the way only you could know how.</p>
  <p><a class="btn btn-primary btn-lg" href="/login/signup" role="button">Sign up!</a></p>
</div>
<%- include footer.ejs %>
