<%- include header.ejs %>

  <h1>Login</h1>
    <% if(locals.error) { %>
    <h2><%= error %></h2>
    <% } %>

  <form class="login-form" action="/login" method="post">
    <label>
      <span>Username:</span>
      <input type="text" name="username" />
    </label>
    <label>
      <span>Password:</span>
      <input type="text" name="passHash" />
    </label>

    <input type="submit" value="User Login">
  </form>

  <p>
    Don't have and account?
  </p>
  <p>
    Sign up <a href="/login/signup">here</a>.
  </p>
  
<%- include footer.ejs %>
